<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Modernize Free</title>
  <link rel="shortcut icon" type="image/png" href="images/logos/favicon.png" />
  <link rel="stylesheet" href="css/styles.min.css" />
</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    <aside class="left-sidebar">
      <!-- Sidebar scroll-->
      <div>
        <div class="brand-logo d-flex align-items-center justify-content-between">
          <a href="/admin/adminDashboard" class="text-nowrap logo-img">
            <img src="images/logos/dark-logo.png" width="180" alt="" />
          </a>
          <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
            <i class="ti ti-x fs-8"></i>
          </div>
        </div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
          <ul id="sidebarnav">
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">Home</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/adminDashboard" aria-expanded="false">
                <span>
                  <i class="ti ti-layout-dashboard"></i>
                </span>
                <span class="hide-menu">Dashboard</span>
              </a>
            </li>
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">Admin Tools</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/products" aria-expanded="false">
                <span>
                  <i class="ti ti-alert-circle"></i>
                </span>
                <span class="hide-menu">Products</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/customer" aria-expanded="false">
                <span>
                  <i class="ti ti-user"></i>
                </span>
                <span class="hide-menu">Customer</span>
              </a>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/order" aria-expanded="false">
                <span>
                  <i class="ti ti-cards"></i>
                </span>
                <span class="hide-menu">Order</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/category" aria-expanded="false">
                <span>
                  <i class="ti ti-file-description"></i>
                </span>
                <span class="hide-menu">Catogeries</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/coupon" aria-expanded="false">
                <span>
                  <i class="ti ti-article"></i>
                </span>
                <span class="hide-menu">Coupon Management</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/salesreport" aria-expanded="false">
                <span>
                  <i class="ti ti-typography"></i>
                </span>
                <span class="hide-menu">Sales Report</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/offer" aria-expanded="false">
                <span>
                  <i class="ti ti-login"></i>
                </span>
                <span class="hide-menu">Offer Module</span>
              </a>
            </li>
          </ul>
        </nav>
        <!-- End Sidebar navigation -->
      </div>
      <!-- End Sidebar scroll-->
    </aside>
    <!--  Sidebar End -->
    <!--  Main wrapper -->
    <div class="body-wrapper">
      <!--  Header Start -->
      <header class="app-header">
        <nav class="navbar navbar-expand-lg navbar-light">
          <ul class="navbar-nav">
            <li class="nav-item d-block d-xl-none">
              <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse" href="javascript:void(0)">
                <i class="ti ti-menu-2"></i>
              </a>
            </li>

          </ul>
          <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
            <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">

              <li class="nav-item dropdown">
                <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  <img src="images/profile/user-1.jpg" alt="" width="35" height="35" class="rounded-circle">
                </a>
                <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2">
                  <div class="message-body">
                    <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                      <i class="ti ti-user fs-6"></i>
                      <p class="mb-0 fs-3">
                        <%= admin.name %>
                      </p>
                    </a>
                    <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                      <i class="ti ti-mail fs-6"></i>
                      <p class="mb-0 fs-3">My Account</p>
                    </a>
                    <!-- <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                      <i class="ti ti-list-check fs-6"></i>
                      <p class="mb-0 fs-3">My Task</p>
                    </a> -->
                    <a href="logout" class="btn btn-outline-primary mx-3 mt-2 d-block">Logout</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <!--  Header End -->
      <div class="container-fluid">
        <!--  Row 1 -->
        <div class="row">
          <div class="col-lg-8 d-flex align-items-strech">
            <div class="card w-100">
              <div class="card-body">
                <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
                  <div class="mb-3 mb-sm-0">
                    <h5 class="card-title fw-semibold">Sales Overview</h5>
                  
                    <form action="/admin/dashboard" method="get">
                      <label for="filter">Filter by:</label>
                      <select name="filter" id="filter" onchange="this.form.submit()">
                        <option value="daily" <%= filter === 'daily' ? 'selected' : '' %>>Daily</option>
                        <option value="monthly" <%= filter === 'monthly' ? 'selected' : '' %>>Monthly</option>
                        <option value="yearly" <%= filter === 'yearly' ? 'selected' : '' %>>Yearly</option>
                      </select>
                    </form>
                  
                    <!-- Chart for Orders by Status -->
                    <canvas id="ordersChart" width="1000" height="500"></canvas>
                  
                    <!-- Include Chart.js -->
                    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                  
                    <script>
                      // Parse the JSON strings into actual JavaScript arrays
                      const labels = <%- JSON.stringify(labels) %>;
                      const orderCounts = <%- JSON.stringify(orderCounts) %>;
                  
                      const ctx = document.getElementById('ordersChart').getContext('2d');
                      const ordersChart = new Chart(ctx, {
                        type: 'bar', // You can change to 'bar' or another type if you prefer
                        data: {
                          labels: labels,
                          datasets: [
                            {
                              label: 'Pending Orders',
                              data: orderCounts.pending,
                              borderColor: 'rgba(255, 99, 132, 1)',
                              backgroundColor: 'rgba(255, 99, 132, 0.2)',
                              borderWidth: 2,
                              fill: true
                            },
                            {
                              label: 'Confirmed Orders',
                              data: orderCounts.confirmed,
                              borderColor: 'rgba(54, 162, 235, 1)',
                              backgroundColor: 'rgba(54, 162, 235, 0.2)',
                              borderWidth: 2,
                              fill: true
                            },
                            {
                              label: 'Shipped Orders',
                              data: orderCounts.shipped,
                              borderColor: 'rgba(75, 192, 102, 1)',
                              backgroundColor: 'rgba(75, 192, 192, 0.2)',
                              borderWidth: 2,
                              fill: true
                            },
                            {
                              label: 'Delivered Orders',
                              data: orderCounts.delivered,
                              borderColor: 'rgba(153, 102, 015, 1)',
                              backgroundColor: 'rgba(153, 102, 255, 0.2)',
                              borderWidth: 2,
                              fill: true
                            },
                            {
                              label: 'Cancelled Orders',
                              data: orderCounts.cancelled,
                              borderColor: 'rgba(255, 159, 64, 1)',
                              backgroundColor: 'rgba(255, 159, 64, 0.2)',
                              borderWidth: 2,
                              fill: true
                            },
                            {
                              label: 'Return-Requested Orders',
                              data: orderCounts['Return-Requested'],
                              borderColor: 'rgba(155, 109, 64, 1)',
                              backgroundColor: 'rgba(255, 159, 64, 0.2)',
                              borderWidth: 2,
                              fill: true
                            },
                            {
                              label: 'Return-Approved Orders',
                              data: orderCounts['Return-Approved'],
                              borderColor: 'rgba(235, 139, 64, 1)',
                              backgroundColor: 'rgba(255, 159, 64, 0.2)',
                              borderWidth:2,
                              fill: true
                            }
                          ]
                        },
                        options: {
                          scales: {
                            y: {
                              beginAtZero: true
                            }
                          }
                        }
                      });
                    </script>
                  </div>
                  
                  
                  

                  <div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="card w-100">
            <div class="card-body">
              <h5 class="card-title fw-semibold">Best Selling Products</h5>
              <div class="row">
                <% topProduct.forEach((product, index) => { %>
                  <div class="col-md-2 mb-4">
                    <div class="product-card text-center">
                      <img src="<%= product.productImage[0].path %>" alt="" class="stamp-image mb-2">
                      <h6 class="fw-bold mb-1"><%= product.name %></h6>
                      <p class="mb-0">Number of Sales: <%= product.salesCount %></p>
                    </div>
                  </div>
                  <% if ((index + 1) % 5 === 0) { %>
                    </div><div class="row">
                  <% } %>
                <% }); %>
              </div>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="card w-100">
            <div class="card-body">
              <h5 class="card-title fw-semibold">Best Selling Brands</h5>
              <div class="row">
                <% topBrands.forEach((brand, index) => { %>
                  <div class="col-md-2 mb-4">
                    <div class="brand-card text-center">
                      <img src="<%= brand.brandImage[0] %>" alt="" class="stamp-image mb-2">
                      <h6 class="fw-bold mb-1"><%= brand._id %></h6>
                      <p class="mb-0">Number of Sales: <%= brand.totalSales %></p>
                    </div>
                  </div>
                  <% if ((index + 1) % 5 === 0) { %>
                    </div><div class="row">
                  <% } %>
                <% }); %>
              </div>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="card w-100">
            <div class="card-body">
              <h5 class="card-title fw-semibold">Best Selling Categories</h5>
              <div class="row">
                <% topCategories.forEach((category, index) => { %>
                  <div class="col-md-2 mb-4">
                    <div class="category-card text-center">
                      <img src="<%= category.categoryImage[0] %>" alt="" class="stamp-image mb-2">
                      <h6 class="fw-bold mb-1"><%= category._id %></h6>
                      <p class="mb-0">Number of Sales: <%= category.totalSales %></p>
                    </div>
                  </div>
                  <% if ((index + 1) % 5 === 0) { %>
                    </div><div class="row">
                  <% } %>
                <% }); %>
              </div>
            </div>
          </div>
        </div>
        
        <style>
          .stamp-image {
            width: 100px;
            height: auto;
            border: 2px solid #000;
            border-radius: 8px;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
          }
          .product-card, .brand-card, .category-card {
            background: #f8f9fa;
            padding: 10px;
            border-radius: 10px;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
          }
        </style>
        
        
        
        

        <div class="py-6 px-6 text-center">
          <p class="mb-0 fs-4">@ll copyright reserveved<a href="https://adminmart.com/" target="_blank"
              class="pe-1 text-primary text-decoration-underline">Smartsphere</a></p>
        </div>
      </div>
    </div>
  </div>
  <script src="libs/jquery/dist/jquery.min.js"></script>
  <script src="libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="js/sidebarmenu.js"></script>
  <script src="js/app.min.js"></script>
  <script src="libs/apexcharts/dist/apexcharts.min.js"></script>
  <script src="libs/simplebar/dist/simplebar.js"></script>
  <script src="js/dashboard.js"></script>
</body>

</html>